# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Heavy data files (keep small CSVs)
*.xlsx
*.xls
*.sqlite

# Security
.env
config.yaml
secrets.txt

# System
.DS_Store
Thumbs.db
